.jumbotron
  .container.span5
    %h1 Olar
    %p Olarrr

    = form_tag('/generate_olar', remote: true, method: :post)

    .form-group
      %textarea.form-control{name: 'content', cols: '40', rows:'10' }

    .form-group
      %button.pull-right.btn.btn-primary.btn-lg{ type: 'submit' }
        Gerar

    .row
      .col-sm-12
        #result-panel.panel.panel-default
          .panel-heading
            %h3.panel-title
              Seu novo texto
          .panel-body
            #result
